<div style="display: flex; width: 100%; height: 100vh; align-items: center; justify-content: center;">
    <div style="width: 300px; height: auto; padding: 15px 20px; border: 1px solid gray; border-radius: 5px;">
        <p><a href="/admin/cars">車両管理</a></p>
        <p><a href="">会員管理</a></p>
        <p><a href="/admin/events">開催日管理</a></p>
        <p><a href="">入金管理</a></p>
    </div>
</div>